@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&family=Playfair+Display:wght@800&display=swap');

:root {
    --primary-color: #202020;
    --secondary-color: #f4f7fc;
    --grey: #a6a6a6;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    color: var(--primary-color);
    margin: 1.6rem 0;
}

p {
    font-weight: 400;
    margin: 1.6rem 0;
    font-size: 1.6rem;
    color: var(--primary-color);
    letter-spacing: 1.5px;
}

h1 {
    font-size: 4rem;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
}

h2 {
    font-size: 3rem;
    letter-spacing: 1.5px;
}

h3 {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
}

h4 {
    font-size: 1.6rem;
}

span {
    color: var(--grey);
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    margin: 1.6rem 0;
    color: var(--grey);
    font-size: 1.6rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    margin: 16px 0;
}

/* Nav bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .menu a {
    border-bottom: 0;
    color: var(--primary-color);
    font-weight: 700;
    margin-left: 24px;
}

/* Post Card */
main {
    display: grid;
    grid-template-columns: 3fr;
    margin-top: 50px;
    grid-gap: 60px;
}

.post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 48px;
}

.thumbnail {
    object-fit: contain;
}

.post-card {
    background-color: var(--secondary-color);
    margin: 24px 0;
    padding: 16px;
}

.card-content {
    margin-top: 24px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

input {
    padding: 5px 10px;
}

.pagination {
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .post {
        grid-template-columns: 1fr;
    }
}

/* Footer */
footer {
    background-color: #212124;
    margin-top: 100px;
    padding: 100px 0;
}

footer h3 {
    color: #fffffc;
}

footer button:hover {
    border-radius: 15px;
    background-color: #008EEF;
    color: #fff;
}

footer p,
span,
a {
    color: #9b9ca1;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin: 0 auto;
    justify-items: center;
}

footer hr {
    margin: 60px 0;
}

.footer-base {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.footer-menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 16px;
}

.social-icons i {
    color: var(--secondary-color);
    font-size: 16px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    padding: 8px;
}

@media only screen and (max-width: 768px) {
    .footer-top {
        grid-template-columns: 1fr;
        justify-items: start;
    }
}

@media only screen and (max-width: 460px) {
    .social-icons i {
        margin-bottom: 4px;
        display: flex;
    }
}